@font-face {
  font-family: 'Made Tommy - Regular';
  src: url('./fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Made Tommy - Bold';
  src: url('./fonts/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Made Tommy - ExtraBold';
  src: url('./fonts/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf');
  font-weight: bolder;
  font-style: normal;
}

:root {
  --primary-color: #97A9CF;
  --secondary-color: #B9D1F5;
  --success-color: #BAE5A7;
  --info-color: #FFF6D6;
  --light-color: #F1F1F1;
  --dark-color: #121212;
  --gray-color: #e2e1e1;
  --font-family-regular: 'Made Tommy - Regular', sans-serif;
  --font-family-bold: 'Made Tommy - Bold', sans-serif;
  --font-family-extrabold: 'Made Tommy - ExtraBold', sans-serif;
  --font-weight: normal;
  --font-weight-bold: bold;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: 5px;
  --transition: all 0.3s ease;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family-regular);
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.navigation-container {
  display: flex;
  flex-direction: row;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  font-family: var(--font-family-bold);
}

.navigation a {
  text-decoration: none;
  color: var(--dark-color);
  font-family: var(--font-family-regular);
  padding: 10px 20px;
  border: 0.1rem solid var(--dark-color);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}
.navigation a:first-of-type {
  border-right: 0.05rem solid var(--dark-color);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.navigation a:last-of-type {
  border-left: 0.05rem solid var(--dark-color);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
.navigation a:hover {
  background-color: var(--dark-color);
  color: #fff;
}

.navigation span {
  font-size: 1.2em;
  color: #555;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto 3rem;
  gap: 2rem;
}

.calendar-container {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid var(--dark-color);
}
.calendar {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar thead th {
  background-color: var(--gray-color);
  color: var(--dark-color);
  font-family: var(--font-family-bold);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 0.1rem solid var(--dark-color);
  border-right: 0.1rem solid var(--dark-color);
  overflow: hidden;
  box-sizing: border-box;
}
.calendar thead th:last-of-type {
  border-right: 0 !important;
}

.calendar tbody td {
  border: 0.1rem solid var(--dark-color);
  padding: 10px;
  text-align: center;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
}
.calendar tbody td.empty {
  background-color: var(--light-color);
}

.calendar tbody tr:first-child td {
  border-top: none;
}
.calendar tbody tr:last-child td {
  border-bottom: none;
}
.calendar tbody td:last-child {
  border-right: none;
}
.calendar tbody td:first-child {
  border-left: none;
}

.day-header {
  font-size: 0.9rem;
  color: var(--dark-color);
  background-color: var(--light-color);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  cursor: grab;
}

.event form {
  display: inline-block;
}

.event form button {
  background-color: var(--dark-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event form button:hover {
  background-color: #0056b3;
}

.no-drag {
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.no-drag form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.no-drag form input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.no-drag form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.no-drag form button:hover {
  background-color: #218838;
}

.predefined-events {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  width: 25%;
}

.predefined-events h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

#predefined-event-container {
  min-height: 100px;
}

#predefined-event-container .event {
  cursor: grab;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
